@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --old-text-color: #2c3e50;

    --darkest-shade: #080808;
    --dark-shade: #141418;
    --mid-dark-shade: #36343f;
    --mid-shade: #685f80;
    --mid-light-shade: #8980a1;
    --light-shade: #ccc1df;
    --lightest-shade: #faf4ff;

    --accent-light: #ffc978;
    --accent-dark: #702d00;

    --shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
    --font-header: 'Merriweather', serif;
    --font-body: 'Courier Prime', monospace; 

    --text-color: var(--light-shade);

    --max-width: 1200px;
    --standard-padding: 1rem 2rem;

    --mobile-breakpoint: 768px;

    /* Dark mode */
    /* --shade-1: var(--darkest-shade);
    --shade-2: var(--dark-shade);
    --shade-3: var(--mid-shade);
    --shade-4: var(--light-shade);
    --shade-5: var(--lightest-shade);
    --accent-color: var(--accent-light); */


    /* Light mode */
    /* --shade-1: var(--lightest-shade);
    --shade-2: var(--light-shade);
    --shade-3: var(--mid-shade);
    --shade-4: var(--dark-shade);
    --shade-5: var(--darkest-shade);
    --accent-color: var(--accent-dark); */

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
body > * {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;


    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--dark-shade);

    color: var(--lightest-shade);
}

body > #app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    color: var(--lightest-shade);
    /* text-align: left; */
}

/* #app {
    text-align: center;
} */

header > *, footer{
    padding: var(--standard-padding);
}

.websitetitle{
    vertical-align: middle;
    text-decoration: none;
    align-items: center;
}

.websitetitle img{
    height: 2.5em;
    width: 2.5em;
}

header nav {
    background-color: var(--light-shade);
    border-top: 1px solid var(--mid-shade);
    border-bottom: 1px solid var(--mid-shade);

    display: flex;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    color: var(--dark-shade);
    /* color: #2c3e50; */
    position: relative;
}

header nav a:not(:last-child){
    margin-right: 1rem;
}

header nav a:not(:first-child){
    margin-left: 1.5rem;
}

header nav a:not(:last-child)::after {
    position: absolute;
    content: '|';
    color: var(--mid-shade) !important;
    padding: 0 1rem;
    user-select: none;
    pointer-events: none;
    font-weight: normal !important;
    /* color: #2c3e50; */
}

header nav a.router-link-exact-active {
    color: var(--darkest-shade);
    font-weight: bold;
}

header, footer{
    background-color: var(--darkest-shade);
}

footer{
    border-top: 1px solid var(--mid-shade);
    /* border-bottom: 1px solid var(--mid-shade); */

    /* display: flex;
    justify-content: center; */
    margin-top: 5%;
}

.widthconstrainer{
    max-width: var(--max-width);
    margin: 0 auto;
}

p:not(:first-child){
    margin-top: .5rem;
}

.page{
    padding: var(--standard-padding);
}

.grid{
    display: grid;
    width: 100%;
    max-width: 100%;
    gap: 1rem;

    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
}

.flex{
    display: flex;
    width: 100%;
    gap: 1rem;
}

.center{
    text-align: center;
}

table {
    table-layout: fixed;
 }

.breakable{
    word-break: break-all;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    :root{
        font-size: 90%;
        --standard-padding: 1rem;
    }
}